<head>
<!-- Bootswatch Theme -->
<link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="style.css">


</head>
<body>
    <h1>Ejercicio Vehículos</h1>
    <div class="container-fluid">
        <!-- APPLICATION -->
        <div id="app" class="row pt-5">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h4>Add a Car</h4>
                    </div>
                    <form id="car-form" class="card-body">
                        <div class="form-group">
                            <input type="text" id="plate" placeholder="Plate" class="form-control">
                            <div class="invalid-feedback" id="errorPlate"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" id="brand" placeholder="Brand" class="form-control">
                            <div class="invalid-feedback" id="errorBrand"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" id="color" placeholder="Color" class="form-control">
                            <div class="invalid-feedback" id="errorColor"></div>
                        </div>
                        <!-- <button onclick="createCar('1212SDS','SEAT','ROJO')">Create car</button> -->
                        <input type="submit" value="Create car" class="btn btn-primary btn-block">
                    </form>
                </div>
            </div>

            <div id="carInfo" class="col-md-8"></div>

            <div class="wheels-info col-md-4 mt-4 d-none">
                <div class="card">
                    <div class="card-header">
                        <h4>Add a Wheels</h4>
                    </div>
                    <form id="wheels-form" class="card-body">
                        <div class="row justify-content-around align-items-end">
                            <p class="">Rueda 1:</p>
                            <div class="form-group">
                                <input type="text" id="brand1" placeholder="Marca" class="form-control">
                                <div class="invalid-feedback" id="errorBrand1"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" id="diameter1" placeholder="Diametro" class="form-control">
                                <div class="invalid-feedback" id="errorDiameter1"></div>
                            </div>
                        </div>
                        <div class="row justify-content-around align-items-end">
                            <p class="">Rueda 2:</p>
                            <div class="form-group">
                                <input type="text" id="brand2" placeholder="Marca" class="form-control">
                                <div class="invalid-feedback" id="errorBrand2"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" id="diameter2" placeholder="Diametro" class="form-control">
                                <div class="invalid-feedback" id="errorDiameter2"></div>
                            </div>
                        </div>
                        <div class="row justify-content-around align-items-end">
                            <p class="">Rueda 3:</p>
                            <div class="form-group">
                                <input type="text" id="brand3" placeholder="Marca" class="form-control">
                                <div class="invalid-feedback" id="errorBrand3"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" id="diameter3" placeholder="Diametro" class="form-control">
                                <div class="invalid-feedback" id="errorDiameter3"></div>
                            </div>
                        </div>
                        <div class="row justify-content-around align-items-end">
                            <p class="">Rueda 4:</p>
                            <div class="form-group">
                                <input type="text" id="brand4" placeholder="Marca" class="form-control">
                                <div class="invalid-feedback" id="errorBrand4"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" id="diameter4" placeholder="Diametro" class="form-control">
                                <div class="invalid-feedback" id="errorDiameter4"></div>
                            </div>
                        </div>
                        <!-- <button onclick="createCar('1212SDS','SEAT','ROJO')">Create car</button> -->
                        <input type="submit" value="Create wheels" class="btn btn-primary btn-block">
                    </form>
                </div>
            </div>

        </div>
    </div>

    <script src="../controllers/validate.js"></script>
    <script src="../models/car.js"></script>
    <script src="../models/wheel.js"></script>
    <script src="../controllers/controller.js"></script>
</body>
